.idea
tmp
assets
sql
req.txt

.coverage

*.o
*.so
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.log
*.sql
*.sqlite
*.sqlite3

.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
desktop.ini

*.pyc
*.pyo
*~
*.[oa]